In [29]:
import numpy as np 
import pandas as pd

In [30]:
data = pd.read_csv('salary_and_population.csv', delimiter=',')
data.head()

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN

In [31]:
cond = (data['Region_RU'] != 'Новгородская область') & (data['Region_RU'] != 'Республика Дагестан') & (data['Region_RU'] != 'Кабардино-Балкарская Республика') & (data['Region_RU'] != 'Ставропольский край')
work_data = data[cond]
work_data.head()

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN

In [32]:
salary = work_data['AVG_Salary']

In [33]:
median = salary.median()
print(median)

33137.0

In [34]:
avg = salary.mean()
print(avg)

39404.432098765436

In [35]:
dispersion = salary.var(ddof=0) # S^2
print(dispersion)

273682720.88736475

In [36]:
sigma = salary.std(ddof=0)
print(sigma)

16543.358815167034